{{define "profile"}}
{{template "header" .}}
<div class="viewpost">
  <h2 style="color: white;">Your posts</h2>
  {{range .Posts}}
  <div class="allpost">
        
    <div class="author-info">
        <img src="" alt="" class="profile">
        <p>{{.Author}}</p>
        <p>{{.Creat_at}}</p>
      </div>
    <div class="allcontent">
        <div class="content">
          <pre class="post-text">{{.Content}}</pre>
            <a class="commentbtn" href="/view?id={{.ID}}">Comment</a>
         
        </div>
  
        <div class="like-thread">
          <a class="btnlike" href="/like?id={{.ID}}&r=p">
            {{.L}}
          </a>
          <a class="btndislike" href="/dislike?id={{.ID}}&r=p">
            {{.D}}
          </a>
          <a class="commentbtn" role="button" href="/delete?{{.ID}}">Delete</a>
  
          <a class="commentbtn" role="button" href="/edit?{{.ID}}">Edit</a>
          <p>#{{.Thread}}</p>
        </div>
    </div>
    </div>
  {{end}}

  {{if .LikedPosts}}
  <h2 style="color: white;">Liked Posts</h2>
  {{end}}
  {{range .LikedPosts}}

  <div class="allpost">
        
    <div class="author-info">
        <img src="" alt="" class="profile">
        <p>{{.Author}}</p>
        <p>{{.Creat_at}}</p>
      </div>
    <div class="allcontent">
        <div class="content">
          <pre class="post-text">{{.Content}}</pre>
            <a class="commentbtn" href="/view?id={{.ID}}">Comment</a>
         
        </div>
  
        <div class="like-thread">
          <a class="btnlike" href="/like?id={{.ID}}&r=p">
            {{.L}}
          </a>
          <a class="btndislike" href="/dislike?id={{.ID}}&r=p">
            {{.D}}
          </a>
          <a class="commentbtn" role="button" href="/delete?{{.ID}}">Delete</a>
  
          <a class="commentbtn" role="button" href="/edit?{{.ID}}">Edit</a>
          <p>#{{.Thread}}</p>
        </div>
    </div>
    </div>
  {{end}}
</div>

{{template "chat" .}}
{{template "footer"}}

{{end}}